version: '3.8'

services:
  back-api: 
    tty: true
    ports:
      - '3000:3000'
    build:
      context: .
      dockerfile: Dockerfile 
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - LOG_LEVEL=debug
      - LANGFLOW_HOST=http://localhost:7860